[2018-12-14 02:23] zpbappi opened #22 "Investigate random tests failures"
Tests don't fail in local development machines, even when they are running in parallel. However, often they fail in AppVeyor. My guess- Thread related issues. We don't have enough data to conclude. The failures are not even reproducible. Here are two such recent failures:
1. https://ci.appveyor.com/project/VlingoNetOwner/vlingo-net-actors/builds/21000676/tests
2. https://ci.appveyor.com/project/Vl

[2018-12-14 02:32] zpbappi opened #23 "Load properties from App.config (or something similar)"
Currently the `Vlingo.Actors/Properties` class loads properties/settings from a `vlingo-actors.properties` file. It needs to be modified to read from any standard configuration provider (such as App.config or Web.config). Please discuss your idea here before starting any implementation.

[2018-12-14 02:53] zpbappi opened #24 "ProxyGenerator enhancements"
Currently the `Vlingo.Actors.ProxyGenerator` class has some limitations. We will need to enhance it to overcome these.

**It cannot create a proxy for an inner interface contained within a class. It would create a source that would fail compilation by the `Vlingo.Common.DynaCompiler.Compile()`**
[code]
For the code above, the following setup will fail
[code]

**It fails similarly if the interface

[2018-12-14 02:53] zpbappi opened #53 "ProxyGenerator enhancements"
Currently the `Vlingo.Actors.ProxyGenerator` class has some limitations. We will need to enhance it to overcome these.

**It cannot create a proxy for an inner interface contained within a class. It would create a source that would fail compilation by the `Vlingo.Common.DynaCompiler.Compile()`**
[code]
For the code above, the following setup will fail
[code]

**It fails similarly if the interface

[2019-01-13 17:09] tjaskula opened #25 "ConsoleLoger doesn't take into account the configuration parameter"
`ConsoleLoger` seems unfinished. It doesn't take into account passed `ConsoleLoggerPluginConfiguration`

[2019-01-13 20:31] tjaskula opened #26 "Replace Thread.Sleep() calls with safer/better alternatives"
There are many calls to `Thread.Sleep` which is not the best alternative in concurrent code.

[2019-01-14 00:10] VaughnVernon commented on #26
@tjaskula Can you indicate where the Thread.Sleep() uses are? There may be a few in tests, which is not the greatest choice, and will inevitably fail. However, there should pretty much never be Thread.Sleep() in the library code. I think there may be one possible use of Thread.Sleep() when the World is terminating. I don't remember. In such case it could still be replaced with a better construct a

[2019-01-14 12:38] tjaskula commented on #26
Except tests there are actualy two places in:

- Backoff class https://github.com/vlingo-net/vlingo-net-actors/blob/c8c47d2d94dc6b8674ea7890ec2a9c3346046ce8/src/Vlingo.Actors/Backoff.cs#L59
- Stage class https://github.com/vlingo-net/vlingo-net-actors/blob/61c6d4c908638d29e4284d5188fd017aac1a0e8a/src/Vlingo.Actors/Stage.cs#L274

[2019-01-14 13:43] VaughnVernon commented on #26
@tjaskula Yes, thanks for the reminder. I would be perfectly happy if both of these `Sleep()` uses went away. Eventually `Stop()` will be async in that the `Sweep()` will be actor-based and return immediately. At that point we will need an atomic indicator that `Sweep()` and `Stop()` have fully completed, and we will need to aggregate that indicator into a single one when stopping multiple `Stage`

[2019-01-14 17:35] tjaskula commented on #26
I’ll take care of that

[2019-01-15 16:03] ChicagoDave commented on #23
There really shouldn't be any configuration in the library. Any data required by the library should be injected when instantiated.

[2019-01-15 16:41] VaughnVernon commented on #23
@ChicagoDave We have a plugin architecture which means you can extend the actor runtime. You can see an example on the Java side. This is what @zpbappi ported intact and why we need the .NET idiomatic implementation.

https://github.com/vlingo/vlingo-actors/blob/master/src/test/resources/vlingo-actors.properties

These configurations can be managed in code, but some prefer file-based configuration

[2019-01-15 16:51] ChicagoDave commented on #23
So looking into this it seems Microsoft has finally fixed a long-standing broken paradigm where you could only use standard configurations from the App or Web context. There's a new .NET Standard/Core implementation under Microsoft.Extensions.Configuration that allows you to implement a variety of configurations. )https://docs.microsoft.com/en-us/dotnet/api/microsoft.extensions.configuration?view=

[2019-01-15 16:57] ChicagoDave commented on #23
I'm sure that API is in 2.0 going forward.

[2019-01-15 23:42] zpbappi commented on #23
@ChicagoDave the configuration is not in the library, it is in the test project. I just don't like the fact that we are loading from a fixed file named and formatted in a specific way. I would rather have freedom have configuration what is appropriate for the consumer project (web.config, app.config, config.json, fluent config using code, etc). We have to ensure that Vlingo .NET can be used in dif

[2019-01-15 23:50] VaughnVernon commented on #23
@zpbappi Regarding,

I thought we are discussing the port of `vlingo-actors.properties` from the Java side. What is your thought about not retaining a similar filename? Are you thinking that .NET would be happy to put vlingo-specific configurations into their own application/service config file(s)? No criticism, only looking for clarification.

[2019-01-16 00:00] tjaskula commented on #23
Just for information, Akka.NET keeps still the same java-ich configuration for reference.  Even if we adapt it to .NET we should keep the same keys and hierachies

[2019-01-21 22:58] tjaskula commented on #22
This could be resolved with #29

[2019-01-21 23:15] tjaskula opened #30 "Align Mailbox queues with theirs implementations"
Current queues are aligned on Java names and implementations but it doesn't make much sense for .NET Here I some considerations to take into account:

- Agrona doesn't make much sense as name. I would rename is as a `BoundedQueue`
- Import and implement https://github.com/alexandrnikitin/MPMCQueue.NET as `MPMCQueue` it should work in MPSC configuration

I would keep for now `ConcurrentQueue` and `

[2019-01-23 22:32] tjaskula commented on #26
`Backoff` is addressed in #29

[2019-01-25 14:10] zpbappi opened #31 "Update async void usages"
Push the async void usage down to the lowest possible component as a temporary implementation. Currently, `async void` usages are found in mailbox dispatcher plugins. Looking at the usages, they should be moved down to the Backoff implementation for now as a temporary state. Later, when we using Task fully everywhere, usages of `async void` should be removed and should only be allowed in top level

[2019-01-26 11:44] tjaskula opened #32 "Update NuGet Package informations in .csproj"
`PackageLicenseUrl` is deprecated. Now we should use `PackageLicenseFile`.

Also we need to update other properties like tags, etc.

[2019-02-17 23:19] tjaskula opened #34 "System.TypeLoadException: Method 'AndThenTo' does not have an implementation."
This happens with the following line `World.StartWithDefault("test-request-response-channel");`

[code]

[2019-02-17 23:21] tjaskula commented on #32
@zpbappi Could you confirm if this issue can be closed ?

[2019-02-17 23:48] tjaskula commented on #34
This works from UT in `Actors` but not in `Wire` any idea @zpbappi ?

[2019-02-18 00:23] tjaskula commented on #34
Ok, I think this is because of version inconsistency on `Vlingo.Common` between `Vlingo.Actors` and `Vlingo.Wire` that is addressed in PR #35

[2019-02-18 01:03] zpbappi commented on #32
It will be fixed when I push my changes. Not yet.

[2019-02-18 01:11] zpbappi commented on #34
@tjaskula yes, you are correct.

[2019-02-18 11:16] tjaskula commented on #34
Resolved by #35

[2019-02-18 11:16] #34 closed

[2019-02-18 11:27] tjaskula opened #36 "Dynamic proxy generated class doesn't compile"
I have this following error rising in `vlingo-net-wire`

[code]

has to be investigated.

[2019-02-18 11:36] tjaskula commented on #36
Would be nice to report code that doesn't compile.

[2019-02-18 12:04] tjaskula commented on #36
Ok, this is source that was generated:

[code]

It doesn't compile because it lacks an using for `IConsumerByteBuffer`. Adding the using produces valid code.

[2019-02-18 15:00] tjaskula commented on #36
Another one on

[code]

vlingo-net/actors: Generating proxy for main: IScheduled
                                                        Dynamically generated class source for Vlingo.Common.Scheduled__Proxy did not compile because: The type or namespace name 'Actors' does not exist in the namespace 'Vlingo' (are you missing an assembly reference?)
                                            at Vli

[2019-02-18 17:25] tjaskula commented on #36
This one with `IScheduled` doesn't seem it lacks any using. It's just that it cannot resolve a reference to `Vlingo.Actors` somehow. I've added the reference to the UT project but this doesn't seem to fix the problem.

The one with `ResponseSenderChannel__Proxy` I fixed by adding the generated file to the project `Vlingo.Wire` but doesn't seem I can do the same with `Scheduled__Proxy`

[2019-02-22 08:39] tjaskula commented on #22
Issue seems to be still there

1. https://ci.appveyor.com/project/VlingoNetOwner/vlingo-net-actors/builds/22567843/tests

[2019-02-22 15:29] VaughnVernon commented on #22
@tjaskula Tests should be rewritten to use `AccessSafely`.

[2019-02-23 11:27] tjaskula commented on #36
Fixed by #38

[2019-02-23 11:27] #36 closed

[2019-02-25 09:48] tjaskula opened #40 "Dynamic Proxy generator doesn't include all the using directives"
Sometimes not enough using directives are added to the generated code so it doesn't compile. Here's one example:

[code]
It doesn't compile because `IConsumerByteBuffer`  has no namespace using directive on the top of the file.

There are other examples as well, when I had `System.Net.Sockets.Socket` as proxy method parameter and using was not added

[2019-02-25 09:49] tjaskula commented on #40
This is partially related to #36 but I prefered to report a new issue as it is better scoped on the specific problem.

[2019-02-25 09:53] zpbappi commented on #40
you are right. This mentioned case is a bug. It is a quick fix though.

[2019-02-25 09:55] tjaskula commented on #40
Do you think you can handle it @zpbappi ?

[2019-02-25 09:55] zpbappi commented on #40
Yep, on it.

[2019-03-10 21:51] tjaskula opened #42 "TestKit exception: Operations that change non-concurrent collections must have exclusive access. A concurrent update was performed on this collection and corrupted its state."
I'm not sure if the real problem is in TestKit but this exception I had while testing in `Vlingo.Wire`. Needs to be investigated. @zpbappi if you have some suggestions I would be grateful here.

[code]

[2019-03-10 22:31] VaughnVernon commented on #42
Wouldn't changing the collection type to concurrent be the fix?

[2019-03-10 22:33] tjaskula commented on #42
This may be a fix, but I wanted to check first if something else is not a cause of this exception and if multiple threads here is a normal behavior.

[2019-03-10 22:54] VaughnVernon commented on #42
The idea behind TestWorld is that actors created directly through it are wrapped by TestActor and have synchronous delivery. The TestMailbox records (tracks) all messages delivered through it into a HashMap, which is not a concurrent capable collection. Thus I would say that it should be "impossible" to get concurrent access here, but I don't know the semantics of your TestActor instances and whet

[2019-03-10 23:28] zpbappi commented on #42
@tjaskula will look into it and give you an explanation of why it is happening or why it shouldn't happen.

[2019-03-11 14:59] tjaskula commented on #42
@zpbappi thanks, I'll have a look this evening as well.

[2019-03-11 21:46] tjaskula commented on #42
@zpbappi this seems to me like it was a side effect of the code I had. It's hard to explain but now when the underlying code is fixed I cannot reproduce this error. I consider this is not a valid bug anymore. But at least I have an explanation from @VaughnVernon what was the idea behind TestWorld

[2019-03-11 21:46] #42 closed

[2019-04-24 11:57] tjaskula commented on #40
Moving `using Vlingo.Wire.Node;` inside the namespace fixes the problem. Maybe we should consider using directives inside the namespace @zpbappi ?

[2019-04-24 12:07] tjaskula commented on #40
Here's another variation:

[code]

And this is because it doesn't add generic type parameters to methods like `public void Add(string attributeSetName, string attributeName, T value)` instead of `public void Add<T>(string attributeSetName, string attributeName, T value)`

the original generated file:

[code]

[2019-04-24 12:15] tjaskula commented on #40
Another variation:

[code]

and the generated file:
[code]

This one is strange because once the file added to the code it compiles.

[2019-04-30 09:24] tjaskula commented on #40
@zpbappi I've tried to upgrade `Vlingo-net-wire` to latest `actor` but this change https://github.com/vlingo-net/vlingo-net-actors/commit/e76297674a5e8217944425cec5996f9dc92140a3 seems to break and I have the following exception:

[code]

This happens on the following line :

[code]

[2019-04-30 15:18] VaughnVernon commented on #40
It may be a proxy generator but, not generating the correct code for some generic. Not that IScheduled recently was given a generic parameter.

[2019-05-01 00:55] zpbappi commented on #40
@tjaskula looking into it.
@VaughnVernon it does look like a proxy generator issue.

[2019-05-01 00:58] VaughnVernon commented on #40
@zpbappi The proxy generator in Java was recently improved a bit to get around a few of these issues. If you haven't diff'd it lately you may want to check on what changed.

[2019-05-01 01:02] zpbappi commented on #40
@VaughnVernon proxy generator is the one file that is completely different from Java version, because of the difference between java and c# code generation. I have seen the changes and will implement them in c# as well.

[2019-05-01 01:33] zpbappi commented on #40
@tjaskula I am looking at your last reported stack trace. I have run a few tests, it does generate a valid source for generic interfaces (`IScheduled<T>`). The thing is, it generates based on a concrete type. We may need to change that, as I see it would become a problem soon. However, the stack trace you have provided (the last one), looks like the Scheduled_Proxy was generated in Vlingo.Common.

[2019-05-01 01:48] VaughnVernon commented on #40
Yeah, didn't realize that was the problem. All common proxies should be copied/cached in vlingo-actors.

[2019-05-01 01:52] VaughnVernon commented on #40
As long as it's in the Java classpath. For .net you may have to put it in the Common namespace.

https://github.com/vlingo/vlingo-actors/blob/master/src/main/java/io/vlingo/actors/Scheduled__Proxy.java

[2019-05-01 12:06] tjaskula commented on #40
@zpbappi @VaughnVernon the actor is already in actor. It stopped working when this change was made on actors https://github.com/vlingo-net/vlingo-net-actors/commit/e76297674a5e8217944425cec5996f9dc92140a3.
Nowadays, every proxy has to be copied manually to the related sources. It doesn't work on dynamic compilation as it works on java side.

@zpbappi if you want to reproduce, just pull the sources

[2019-05-01 13:20] VaughnVernon commented on #40
The `IScheduled<T>` change was my guess, but I thought it was a code generation issue. Just changing the parameter from `object` to `T` shouldn't cause a problem, should it?

[2019-05-03 09:50] tjaskula commented on #40
@zpbappi I've updated wire to new `vlingo-net-common` 4.5 and `vlingo-net-actors` 3.2 after the changes to the PR #45

I have still proxy generation problems. There are 2. The first one is when I try `SelfAs<IScheduled<object>>()` the following exception is as follows:

[code]

The `Vlingo.Actors` has this `Scheduled_Proxy` https://github.com/vlingo-net/vlingo-net-actors/blob/master/src/Vlingo.Act

[2019-05-03 09:56] tjaskula commented on #40
@zpbappi @VaughnVernon writing the comment above I've just realized that likewise the change here https://github.com/vlingo-net/vlingo-net-actors/commit/e76297674a5e8217944425cec5996f9dc92140a3. the generic proxy generation now behaves differently.

Because the other things happened as well. The concrete generated proxy shouldn't be generic IMO. The generated proxy should be `Scheduled__Proxy: ISc

[2019-05-04 12:58] zpbappi commented on #40
@tjaskula I think `__Proxy` classes should be generic, and that's the change is implementing. Here is a very simple reason- if you want to create a proxy for `IScheduled<int>` somewhere and another proxy for `IScheduled<string>`  somewhere else, what would be the proxy class?

[2019-05-04 13:05] tjaskula commented on #40
Fair enough. However there is an issue either with looking up or instantiating such proxies

[2019-05-04 13:28] tjaskula commented on #40
@zpbappi I've replaced inside `Vlingo.Wire` the old non generic `ResponseSenderChannel__Proxy : IResponseSenderChannel<Socket>` with `ResponseSenderChannel__Proxy<T> : IResponseSenderChannel<T>` and it seems that this is working.

The only problem I have is with `Scheduled__Proxy`:

[code]

This might be the issue of looking up the proxy in different namespace than the generated `Scheduled__Proxy<

[2019-05-04 13:46] zpbappi commented on #40
@tjaskula Creating proxy manually will always work. However, we can't keep doing that. I am on to that problem and trying to fix it with the latest version of Actors (0.3.2) in Wire. Seems like I will need some time to investigate.

[2019-05-04 13:50] tjaskula commented on #40
I'll do that on my side as well.

[2019-05-04 17:04] tjaskula commented on #40
I'm closing this issue because problems described here were fixed by the following PRs:

- https://github.com/vlingo-net/vlingo-net-common/pull/31
- https://github.com/vlingo-net/vlingo-net-common/pull/30
- https://github.com/vlingo-net/vlingo-net-common/pull/29
- https://github.com/vlingo-net/vlingo-net-common/pull/28

[2019-05-04 17:04] #40 closed

[2019-05-15 20:35] jvanzella opened #46 "Error when running application with version 0.3.4"
I was getting this error when installing the latest (0.3.4) version of Vlingo .net.  I thought I might be doing something wrong, so I downloaded the demo app (Ping/Pong) and ran it and it worked fine.  When I updated the NuGet to the latest (0.3.4) this error appeared when trying to run it, which is the same error I was getting when trying to run my code.

Stack trace:

`Dynamically generated clas

[2019-05-16 06:13] zpbappi commented on #46
@jvazella thanks for reporting the issue. We are looking into it.

[2019-05-19 05:05] zpbappi commented on #46
@jvanzella We have pushed a new version of Vlingo.Actors and Vlingo.Common- which fixes the problem. We have also updated the PingPong example to use the updated v0.3.5 or Vlingo.Actors. Let us know if it fixes the problem in your project as well. Feel free to close the issue if this is resolved.

[2019-05-22 22:43] jvanzella commented on #46
Fix is working.  Thank you for the quick turn around

[2019-05-22 22:43] #46 closed

[2019-06-26 08:36] Johnny-Bee commented on #23
Hi guys,
In my opinion the source file does not matter from the moment we use the .net core configuration library that will convert the key into a string separated with :
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration/?view=aspnetcore-2.2

In our examples, we can put a the configuration file vlingo actors properties and make an configuration provider for such configuration

[2019-06-26 09:04] tjaskula commented on #23
@Johnny-Bee we want the configuration file be idiomatic to .net environnement. For now we have custom code that loads the configuration from the underlying file, so we don't need the provider for that.

[2019-06-26 10:01] Johnny-Bee commented on #23
I understand.
For my company, we use yaml file for the configuration.
In my opinion, we should just create a json representation of the vlingo settings object.
Everything will be loaded into a flatten dictionary in the configuration object just have to make a extension method to build and return the vlingo settings instance from the IConfiguration.

Get Outlook for iOS<https://aka.ms/o0ukef>
_____

[2019-06-26 13:27] VaughnVernon commented on #23
@Johnny-Bee Thanks for your feedback. I will make a few comments and pose questions.

- This configuration is not intended for applications/services built with vlingo. It is only for loading vlingo specific runtime configurations. (@zpbappi brought over the Java properties file format as a quick bootstrap, and not intended for long-term use.) Also, this is entirely unnecessary because the default

[2019-06-26 13:56] tjaskula commented on #23
@VaughnVernon just for reference, I pointed @Johnny-Bee to this specific issue, as it may be a good start. This point is not complicated and could be a good start to get a foot on a ladder.

JSON is standard now in MS

As for the solution I was refereing to replacing the current config files to JSON files with the MS convention so we can get rid of the existing parsing code and use something like:

[2019-06-26 14:01] VaughnVernon commented on #23
@tjaskula @Johnny-Bee Ah, I didn't know. Sorry to get in the way. Yes, this is a great way to get into the project. Thanks for your help!

[2019-06-26 14:02] tjaskula commented on #23
@VaughnVernon you do well, your questions were relevant

[2019-07-23 19:33] tjaskula commented on #31
`async void` should be removed. It doesn't work as implementation.

[2019-07-23 19:40] tjaskula opened #49 "Proxy generator should include full names for types resolution"
The current implementation generates the code in the form:

[code]

but this leads to many conflicts where for example we have a namespace clash with type name like for the type `Vlingo.Wire.Node.Node`. The generated proxy `LocalMessage<Node>` obviously doesn't compile if we have `using Vlingo.Wire.Node` at the beginning of the file.

It would be much better and less error prone if instead of rely

[2019-07-23 19:40] tjaskula opened #54 "Proxy generator should include full names for types resolution"
The current implementation generates the code in the form:

[code]

but this leads to many conflicts where for example we have a namespace clash with type name like for the type `Vlingo.Wire.Node.Node`. The generated proxy `LocalMessage<Node>` obviously doesn't compile if we have `using Vlingo.Wire.Node` at the beginning of the file.

It would be much better and less error prone if instead of rely

[2019-07-24 01:22] zpbappi commented on #49
Thanks @tjaskula. I should change it to include the fully qualified name everywhere a type is used. That's safer. Will make the changes soon.

[2019-07-24 01:27] VaughnVernon commented on #49
For generated code import/using is far more difficult to get right. We should eliminate imports in to generated Java. The IDE will show warnings if the import isn't used, which is an annoying false negative that distracts me.

[2019-07-30 18:56] tjaskula commented on #32
@zpbappi fixed ?

[2019-08-05 08:35] VaughnVernon opened #51 "Support Task<T> In ProxyGenerator"
For anyone with a spare hour or so, this is a pretty simple contribution.

Support `Task<T>` as a valid type in the `ProxyGenerator`. Inside the `ProxyGenerator` you will see the current `Completes<T>` support, and this type can be added along side it pretty easily.

**NOTE:** `Task<T>` will not be used for vlingo-net-platform internals or public APIs. We will continue to use `Completes<T>` for co

[2019-08-05 08:35] VaughnVernon opened #52 "Support Task<T> In ProxyGenerator"
For anyone with a spare hour or so, this is a pretty simple contribution.

Support `Task<T>` as a valid type in the `ProxyGenerator`. Inside the `ProxyGenerator` you will see the current `Completes<T>` support, and this type can be added along side it pretty easily.

**NOTE:** `Task<T>` will not be used for vlingo-net-platform internals or public APIs. We will continue to use `Completes<T>` for co

[2019-08-07 12:58] tjaskula commented on #51
Closing because the issue is tracked on https://github.com/vlingo-net/vlingo-net-common/issues/37

[2019-08-07 12:58] #51 closed

[2019-08-08 01:14] VaughnVernon commented on #53
@zpbappi @tjaskula In Java I used the naming convention `OuterInner__Proxy` to avoid naming issues. It has worked well so far.

[2019-08-15 00:40] vany0114 commented on #31
Guys, the `async void` usages are in a couple of dispatchers as @zpbappi mentioned, thing is that the `IRunnable` interface returns `void` instead of a `Task`, and that guy lives on `Vlingo.Common` solution.

So, change the signature of the interface is a breaking change, how about if we create a new interface, say `IRunnableAsync` and only update the `RingBufferDispatcher` and `ManyToOneConcurren

[2019-08-15 10:39] tjaskula commented on #31
@vany0114 We have chosen to not expose `Task` on any public component and interface of Vlingo platform. This is because we don't want to leak `Task` everywhere and we want to stick at maximum to what is defined on Java side. While `IRunnableAsync` would be a wise choice on other .NET project we unfortunately have to find another way around this.

We can still keep `Task` internal but we cannot exp

[2019-08-16 15:05] tjaskula commented on #31
@vany0114 I've looked in details on current implementation and there is no other way we could do it. On the other hand `async void` is already on top-level consumer functions so I consider this issue should be closed. I suggest you pick another issue :)

@zpbappi As usages of `async void` are already top level and we cannot push them further I will close the issue. If you think there is better way

[2019-08-16 15:05] #31 closed

[2019-08-16 15:14] tjaskula commented on #26
@zpbappi @VaughnVernon Why we need that when stopping a stage in `Stage.Stop()`:

[code]

[2019-08-16 15:43] #32 closed

[2019-08-16 16:07] tjaskula commented on #52
@VaughnVernon I have looked in more details into the current implementation and it seems it's not so easy as described.

- `ICompletes` is supported in the `IMailbox` signature of `void Send<T>(Actor actor, Action<T> consumer, ICompletes completes, string representation);` where `Task<T>` isn't.
- `ICompletes` is supported in `LocalMessage` constructor.

So we cannot just return a new `Task<T>` ou

[2019-08-16 17:26] VaughnVernon commented on #52
@tjaskula I agree that we need to convert between `Task<T>` and `ICompletes<T>`. However, for `IMailbox` and `Send<T>` it might be best to create a `Returns` wrapper that can hold either type, enabling actors to use either. I think that diverging from Java in this one case is worth it. WDYT?

[2019-08-16 17:37] tjaskula commented on #52
@VaughnVernon Actually you mean that `Send` should be returning a wrapper `Returns` instead of `void` right ?
But we still have to handle `Task` inside the mailbox implementation that can be handed to the client (either wrapped in `Returns` or not).

[2019-08-16 18:34] VaughnVernon commented on #52
@tjaskula Nope. I mean that the Send method signature will change:

[code]

In the `Blah__Proxy` you will create a `Returns` from the type of return value, `ICompletes<T>` or `Task<T>`, both supported by `Returns`. Then the Proxy will return either the `ICompletes<T>` or `Task<T>` that was created in the proxy invocation. Or you can do this:

[code]
And make the send adapt. I think I like the firs

[2019-08-16 18:36] VaughnVernon commented on #52
@tjaskula Actually probably the second approach is better because less memory for two return types, and if we support other return types in the future then we can just add a new implementation class. So let's do the second option.

[2019-08-16 18:38] VaughnVernon commented on #52
@tjaskula Sorry, just a stream of consciousness going here. I should have slowed down a bit 😃

[code]

With: `ReturnsCompletes` and `ReturnsTask` implementations.

[2019-08-16 19:39] tjaskula commented on #52
@VaughnVernon Thanks for clarification. I'm not sure yet about the details of the implementation. I might as well try to make `ICompletes` task compatible if it's not to difficult. I have to try different ideas. I'll come back to this thread once I started experimenting.

[2019-08-16 20:21] vany0114 commented on #31
Maybe you guys could consider using `ValueTask` at some point, I'd say to offer overloads returning `void` or `ValueTask` (there are some caveats with [ValueTask](https://docs.microsoft.com/en-us/dotnet/api/system.threading.tasks.valuetask-1?view=netstandard-2.1#remarks) tho). That way the consumer would have options and would choose depends on its needs.

I mean, regarding what you said:

I'll ta

[2019-08-16 21:59] VaughnVernon commented on #52
@tjaskula I think this can be put onto a Projects card for actors and we can discuss later.

[2019-08-17 14:32] tjaskula commented on #54
Fixed by #55

[2019-08-17 14:32] #54 closed

[2019-09-02 19:47] tjaskula opened #59 "ProxyGenerator doesn't support generic methods"
Non generic interface with a generic method is not supported and fails at compilation. The example of the interface:

[code]

Generation of the proxy fails with the following error:

[code]

[2019-09-03 07:45] #59 closed

[2019-09-30 21:51] tjaskula commented on #23
Implemented in #60

[2019-09-30 21:51] #23 closed

[2019-10-14 22:25] tjaskula commented on #22
Fixed with new implementation and `AccessSafely`

[2019-10-14 22:26] tjaskula commented on #26
This is not more relevant

[2019-10-14 22:26] #26 closed

[2019-10-15 07:40] tjaskula opened #63 "Investigate randomly failing tests after new BasicCompletes implementation"
I have noticed that there is still a slight issue as it comes to the execution of the pipeline in the multi threaded environment. These are not blocking but the investigation should be done along with a fix to be sure that everything behaves consistently.

On CI server:

 - `TestThatManyScheduleOnceDeliver` never completes. https://ci.appveyor.com/project/VlingoNetOwner/vlingo-net-actors/builds/28

[2019-10-18 08:32] tjaskula opened #64 "Add Travis integration"
Related to #66

According to the following template

[code]

[2019-10-18 08:33] tjaskula opened #65 "Change Appveyor configuration"
Related to #66

Make changes according to this template

[code]

[2019-10-18 08:33] tjaskula opened #66 "Target netstandard2.0 et netstandard2.1"
The goal is to use new C#8 features like default interface implementation and nullable types which helps a lot porting java code to .net.

- [x] Change `TargetFramework` to `TargetFrameworks` in `csproj`, listing `netstandard2.0;netstandard2.1`

- [x] Add `<LangVersion>latest</LangVersion>`

- [x] Add `<Nullable>enable</Nullable>`

- [x] Change `TargetFramework` to `TargetFrameworks` in `csproj`,

[2019-10-20 20:15] #64 closed

[2019-10-20 20:15] #65 closed

[2019-10-20 20:15] #66 closed

[2019-11-04 12:09] tjaskula opened #68 "AccessSafely lacks supplier signature for ReadingWith"
`AccessSafely` should support a `ReadingWith` signature that takes `Action<T>` if one parameter can be passed in but without returning any value.

[2019-11-04 22:21] tjaskula opened #69 "Proxy generator should check for reserved names"
Sometimes if interface method signatures contain parameter names like `@object`, `@event`, and all the reserved .NET names, the generated proxy won't compile.

Before generating the parameter name, the check has to be done in the "reserved" keyword list and eventually change the name of the generated parameter.

[2019-11-04 22:30] tjaskula opened #70 "Generic constraints are wrongly generated in some cases"
It seems that when a proxy is generated with a generic method, a constraint is generated even if not necessary.

An example is the following line

[code]

The generic constraint `where TSource : ` is unfinished.

The original interface method is

[code]

[2019-11-11 13:48] tjaskula opened #71 "Embed default configuration file vlingo-actors.json in package"
So the goal is to no having add that file manually to every project using `vlingo-actors`

[2019-11-11 17:36] mihaj commented on #69
Can you give me an example of the issue so I can test against?

[2019-11-12 06:34] #71 closed

[2019-11-12 06:34] #70 closed

[2019-11-12 06:45] tjaskula commented on #63
The suspicion about the scheduled continuation not being executed immediately was right. Under some circumstances the scheduled continuation takes far more time to being scheduled on the thread look thread. This is especially true on Travis where VMs seems to be very busy.

[2019-11-12 06:45] #63 closed

[2019-11-12 07:00] mihaj commented on #63
Have you tried Azure DevOps? They offer 10 parallel agents for open source projects.

[2019-11-12 07:01] tjaskula commented on #63
Always good to have busy machines. It tests differently :)

[2019-11-12 13:49] mihaj commented on #25
I am looking at it. I've initialized property and it build and tests successfully. But there are no tests for the logger. I'll try to write something and see how it behaves.

[2019-11-13 16:06] #53 closed

[2019-11-13 16:06] #25 closed

[2019-11-13 16:08] tjaskula commented on #22
Reopening with some new cases

[code]

[2019-11-13 16:14] tjaskula commented on #22
Also freezes `TestPublicRootDefaultParentSupervisor`

[2019-11-14 09:45] mihaj commented on #30
Any more details on this one? Should we leave it for now?

[2019-11-14 10:32] #68 closed

[2019-11-30 09:58] tjaskula opened #75 "World's ResolveDynamic should not throw when a service cannot be resolved"
`World`'s `ResolveDynamic` should be consistent with Java dictionary semantics and when service cannot be resolved for various reasons it should not throw an exception but return `null` value.

[2019-11-30 10:08] tjaskula commented on #69
@mihaj There is still a bug and I have to reactivate the issue.

In fact the generated proxy has incorrect parameter name handled to `Action<>` as you can see below:

[code]

As you can see while the top level method name is `@object` what we pass in `Action<Vlingo.Symbio.Store.Object.IObjectStore> cons128873 = __ => __.QueryAll(expression, interest, object);` is `object` where we should pass `@ob

[2019-12-04 20:44] #69 closed

[2019-12-04 20:48] tjaskula opened #77 "ProxyGenerator doesn't include type's full name embedded in the generic type"
If the parameter is generic (or return type) the concrete generic types should also be prefixed with the namespace.

This is what is actually generated `IDispatcher<Dispatchable<T, TState>>`

The should have `Some.Namespace.IDispatcher<Some.Other.Namespace.Dispatchable<T, TState>>` instead

[2019-12-06 13:36] tjaskula commented on #71
@mihaj Seems it doesn't work. I've added package to new solution and it seems not finding the configuration file. Can you checked if it's zipped ? Maybe the lacking part is to copy it to the output (it can be in the package but not copied to the output).

I'm not sure what would be the correct behavior in that case:
 - adding the link to the file to solution
 - or maybe there will be a mean to cop

[2020-01-09 17:56] tjaskula opened #78 "ConcurrentMailboxQueue overhelmed under aggressive load"
Under some circumstances, especially when `ISchedule` is defined as actor protocol for network channel probing with an interval of 1ms and timeout of 1ms. The ensuing of task is faster than the task running. The actor queue may go up to several millions messages and the runing process slows down.

[2020-02-18 16:34] jamesmh commented on #75
I can give this a shot?

[2020-02-18 16:37] tjaskula commented on #75
Hi @jamesmh. Welcome!

Yes of course, just ask if you need more details so I can throw them in.

[2020-02-23 09:08] mihaj commented on #77
@tjaskula please give me a concrete example, so I can write some tests.

[2020-03-04 21:50] tjaskula commented on #77
@mihaj I think that if you pull `lingo-net-http` and delete the file https://github.com/vlingo-net/vlingo-net-http/blob/0b45c98a07d2890289c44a7e746cef7eaee6b288/src/Vlingo.Http/Resource/Dispatcher__Proxy.cs and run the tests, it will try to recreate the proxy and will fail.

[2020-03-04 21:53] tjaskula commented on #30
I think we can postpone this for later.

[2020-03-09 21:59] #75 closed

[2020-03-10 21:29] tjaskula opened #81 "Type-safe constructor for Actor creation"
Today we crate the actor by the following way:

[code]

The goal would be to create the actor in the type-safe manner. Why ? Because it easier to be guided by the compiler what parameters to pass in the actor based on the type of actor. Instead we could do the following

[code]

For that we would need to leverage creation through expressions like:

[code]

For reference on JVM implementation (for

[2020-03-10 21:59] VaughnVernon commented on #81
@tjaskula I agree with this. Another way is to use an `ActorInstantiator` pattern. Currently in vlingo-java you can use a `ActorInstantiator` as a single lambda expression, because it is a `@FunctionalInterface`.

`() -> new InboundStreamActor(interest, addressType, reader, probeInterval)`

You can do this for the `actorFor()` that has the overload for an `ActorInstantiator`.

[2020-03-10 22:02] tjaskula commented on #81
@VaughnVernon you mean that you pass `() -> new InboundStreamActor(interest, addressType, reader, probeInterval)`inside the `actorFor()` right ?

[2020-03-10 22:04] VaughnVernon commented on #81
@tjaskula Correct.

[2020-03-10 22:06] tjaskula commented on #81
Yes, so this should be similar to what I'm going to use on .NET side :)

[2020-03-10 22:10] VaughnVernon commented on #81
Oh, ok. The above looked more verbose to me. I see now that I missed this code:

`var inboundStream = stage.ActorFor<IInboundStream>(() => new InboundStreamActor(interest, addressType, reader, probeInterval),$"{inboundName}-inbound"))`

[2020-03-16 08:46] #81 closed

[2020-03-19 10:55] tjaskula opened #82 "Mailbox suspension while doing async/await"
Today when doing async/await inside the actor the mailbox is not suspended, meaning the actor can be delivered new message while async method is being processed. This may be problematic:
- rentrante breaks actor encapsulation
- state of the actor may be corrupted if used by asynchronous operation while it's being changed by new message delivery

One option is to suspend mailbox while the asynchron

[2020-03-20 21:50] tjaskula commented on #82
Related to #52

[2020-03-20 21:53] tjaskula commented on #52
The proxy generation has to be improved in order to handle specific needs of `async/await` like for example
- mailbox suspension to avoid thread reentrancy into actors
- execution in specific to actor scheduling context.

[2020-03-30 13:52] #82 closed

[2020-03-30 13:52] #52 closed

[2020-04-04 19:26] tjaskula opened #83 "Implement SerializationProxy"
Based on Java

https://github.com/vlingo/vlingo-actors/commit/b093cb15792495d13b8c52337572fc8a4e7263ee

[2020-04-04 20:13] tjaskula opened #84 "Actor Eviction"
Implement Actor eviction based on:

https://github.com/vlingo/vlingo-actors/commit/734947d7933fab229d31bb1d2ecc6812f66186d6

[2020-04-04 20:48] tjaskula opened #85 "ActorProxyBase for distribution"
Based on

https://github.com/vlingo/vlingo-actors/commit/4719dc9c33d89bc3c6d6ae63a1c8d2e2e2d6da26

[2020-04-04 22:30] tjaskula opened #86 "Implement Mailbox wrapping function"
usage form JVM https://github.com/vlingo/vlingo-actors/commit/b301abc6e938c8a5ddc08f0dbf2030e07ba5d65a

Check out lattice `Grid` for implementation

[2020-04-05 18:55] tjaskula opened #87 "Check if actor address is already registered"
Based on
Address already registered https://github.com/vlingo/vlingo-actors/commit/9c95350c12ad2b05fe26f3a96d8340fd3a81c766

[2020-04-11 10:58] tjaskula opened #88 "Implement serialization mechanism as a plugin"
Todays serialization is using `Newtonsoft.Json` but it would be better to move it to the existing plugin architecture.

Thus serialization could be parametrable and we could move to `BinaryFormatter` or another kind of serialization.

[2020-04-15 08:04] #83 closed

[2020-04-15 08:04] #84 closed

[2020-04-15 08:04] #86 closed

[2020-04-15 08:33] #85 closed

[2020-04-15 08:33] #87 closed

[2020-06-15 08:36] tjaskula commented on #78
This was just a symptom of other issues. Observed not directly in `vlingo-net-actors` but in `vlingo-net-wire` and `vlingo-net-http`. Caused by

- Scheduling causing delays. Fixed in https://github.com/vlingo-net/vlingo-net-common/commit/a35aac02bbae1ae50d78cf2b2f2a7fef2d8f54bf

- Useless synchronization primitives in `lingo-net-wire` checking if the channel is still connected. This was very slow

[2020-06-15 08:36] #78 closed

[2021-01-05 23:19] tjaskula opened #91 "Add additional check on constructor parameters type when creating an actor"
`ActorFactory` doesn't take into account the types of parameters when creating an actor but only the number of the constructor parameters. For example those two constructors get mismatched:

[code]

The code responsible that needs to be fixed:

[code]

[2021-01-06 22:33] #91 closed

[2021-02-13 10:06] tjaskula opened #94 "Support C# properties in generated proxies"
For example a protocol like that:

[code]

Will not generate the correct handler for `Current` property because they are not supported